body {
  min-height: 2000px;
  background-color: teal;
}


.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 15px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
/*Textarea not resizeable*/
textarea {
    resize:none
}
